@font-face {
    font-family: 'masterOfBreak';
        src: url('master_of_break.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #BBD;
}

button {
  border-radius: 20px;
  width: 120px;
  height: 50px;
  background-color: #99B;
  box-shadow: 1px 1px 10px #000;
}

h1 {
  font-family: 'masterOfBreak';
  font-weight: normal;
  font-style: normal;
  text-shadow: 5px 5px 10px #000;
}

#mainContainer {
  text-align: center;
  /*border: solid;*/
  width: 100%;
  height: 100%;
}

#header {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  /*Esthetic part*/
  /*border: dashed;*/
  padding: 10px 40px 10px 40px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #000;
  background-color: #CCE;
}

#quotes {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 40px 10px 40px;
  width: 35%;
  /*Esthetic part*/
  /*border: dashed;*/
  border-radius: 10px;
  box-shadow: 1px 1px 10px #000;
}
