@font-face {
    font-family: 'masterOfBreak';
        src: url('master_of_break.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #BBD;
}

button {
  border-radius: 20px;
  width: 120px;
  height: 50px;
  background-color: #99B;
  box-shadow: 1px 1px 10px #000;
}

h1 {
  font-family: 'masterOfBreak';
  font-weight: normal;
  font-style: normal;
  text-shadow: 5px 5px 10px #000;
}

#mainContainer {
  text-align: center;
  /*border: solid;*/
  width: 100%;
  height: 100%;
}

#header {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  /*Esthetic part*/
  /*border: dashed;*/
  padding: 10px 40px 10px 40px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #000;
  background-color: #CCE;
}

#quotes {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 40px 10px 40px;
  width: 35%;
  /*Esthetic part*/
  /*border: dashed;*/
  border-radius: 10px;
  box-shadow: 1px 1px 10px #000;
}

#tweetContainer {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 40px 10px 40px;
  width: 35%;
  /*Esthetic part*/
}

.tweetbutton {  
  inherit: none;
  height: 16px;
  /*display: inline-block;*/
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  /* gradient background -- thanks http://ie.microsoft.com/testdrive/graphics/cssgradientbackgroundmaker/ */
background: url('https://si0.twimg.com/images/dev/cms/intents/bird/bird_blue/bird_16_blue.png') no-repeat 2px 1px, -ms-linear-gradient(top, #FEFEFE 0%, #DFDFDF 100%);
background: url('https://si0.twimg.com/images/dev/cms/intents/bird/bird_blue/bird_16_blue.png') no-repeat 2px 1px, -moz-linear-gradient(top, #FEFEFE 0%, #DFDFDF 100%);
background: url('https://si0.twimg.com/images/dev/cms/intents/bird/bird_blue/bird_16_blue.png') no-repeat 2px 1px, -o-linear-gradient(top, #FEFEFE 0%, #DFDFDF 100%);
background: url('https://si0.twimg.com/images/dev/cms/intents/bird/bird_blue/bird_16_blue.png') no-repeat 2px 1px, -webkit-gradient(linear, left top, left bottom, color-stop(0, #FEFEFE), color-stop(1, #DFDFDF));
background: url('https://si0.twimg.com/images/dev/cms/intents/bird/bird_blue/bird_16_blue.png') no-repeat 2px 1px, -webkit-linear-gradient(top, #FEFEFE 0%, #DFDFDF 100%);
  border: 1px solid #cccccc;
  padding-left: 22px;
  padding-right: 4px;
  padding-top: 2px;

  font-weight: bold;
  font-size: 0.7em;
  font-family: Arial;

  color: #333333;
  text-decoration: none;
}
.tweetbutton:hover {
	background: url('https://si0.twimg.com/images/dev/cms/intents/bird/bird_blue/bird_16_blue.png') no-repeat 2px 1px, -ms-linear-gradient(top, #f7f7f7 0%, #d9d9d9 100%);
background: url('https://si0.twimg.com/images/dev/cms/intents/bird/bird_blue/bird_16_blue.png') no-repeat 2px 1px, -moz-linear-gradient(top, #f7f7f7 0%, #d9d9d9 100%);
background: url('https://si0.twimg.com/images/dev/cms/intents/bird/bird_blue/bird_16_blue.png') no-repeat 2px 1px, -o-linear-gradient(top, #f7f7f7 0%, #d9d9d9 100%);
background: url('https://si0.twimg.com/images/dev/cms/intents/bird/bird_blue/bird_16_blue.png') no-repeat 2px 1px, -webkit-gradient(linear, left top, left bottom, color-stop(0, #f7f7f7), color-stop(1, #d9d9d9));
background: url('https://si0.twimg.com/images/dev/cms/intents/bird/bird_blue/bird_16_blue.png') no-repeat 2px 1px, -webkit-linear-gradient(top, #f7f7f7 0%, #d9d9d9 100%);
}
